.card {
    width: 250px;
    border: 1px solid lightslategray;
    margin-left: 40px;
    position: relative;
    min-height: 100px;
    border-radius: 5px;
    padding: 10px;
    font-style: italic;
}

.cards-list {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.update {
    background: url('./components/pic/update.png') center center no-repeat;
    display: inline-block;
    margin-left: 10px;
}

.remove {
    background: url('./components/pic/cross.png') center center no-repeat;
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 1;
}

.send {
    background: url('./components/pic/wing.png') center center no-repeat;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

.remove, .send, .update {
    background-size: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid lightslategray;
    border-radius: 50%;
    background-color: antiquewhite;
}

.hide {
    visibility: hidden;
}

.input {
    outline: none;
    border: none;
    width: 90%;
    border-bottom: 1px solid lightslategray;
}

.newNote {
    margin-left: 45px;
}
